
<% content_for :Groups do %>
<nav class="NavBackGround d-flex py-1 align-items-center">
  <%= render 'shared/dropdown' %>
<div class="text-white marginTG ">Groups</div>
</nav>
<% end %>
<section class="main-section">


<section class="transactionGroup  pt-3">
  </div>
</section>
<section class="d-flex justify-content-between container-fluid  py-3 mt-3  bg-white  w-100 tisectiontwo">
  
  <% @groups.each do |group| %>
  <div class="d-flex justify-content-between align-items-center">
   <% if group.avatar.attached? %>
     <div class=" imagediv">   <%= image_tag(group.avatar,class:"transactionImg rounded ") %>
  <% end %>
 
  </div>
  
    <div class="d-flex flex-column justify-content-between  w-100">
      <div> <span class="text-success ml-1 ">Name:</span> <span><%=group.name%></span></div>
      <div><span class="text-success ml-1 ">Date created:</span><span> <%= group.created_at.strftime('%d %b %Y')%></span></div>
      <div class="transactionGroupCreato">
      </div>
    </div>
</div>
  <div class="amount">
 
  <div>Created by:</div>
  <div> <%=group.user.name%></div>
  </div>
  <% end %>
  
  </section>
</section>
 <div class="fivefb py-3 tGButton text-center">
        <%= link_to 'new group',new_group_path , class:'btn btn-transact text-white  border w-50 py-3 ' %>
</div>
