<% content_for :NewGroups do %>
<nav class="NavBackGround d-flex py-1 align-items-center">
  <div class="dpn">
    <button class="dpbtn"><i class="fa fa-navicon"></i></button>
    <div class="dpn-content">
    <%=current_user.name %>
      <%= link_to 'All my transactions'%>
      <%= link_to 'All my external transactions' %>
      <%= link_to 'All groups'%>
      <%= link_to 'logout' %>
    </div>
    </div>
<div class="text-white marginTG ">New Group</div>
</nav>
<% end %>

<div class=" w-50 mx-auto">
  <%= form_for @group, html: { class: "mt-5 mx-3" } do |f| %>
  
   <div class="form-group mt-2 mb-3">
    <%= f.text_field :name, class: "form-control mb-3", placeholder: "Name" %>
   </div>
    <div class="field form-group mt-2 mb-3">
      <%= f.file_field :avatar,class:"form-control" %>
    </div>
  
    <%= f.submit class: "btn btn-primary " %>
  
  
  <% end %>
  </div>