
<% content_for :transactionGroups do %>
<nav class="NavBackGround d-flex py-1 align-items-center">
  <div class="dpn">
    <button class="dpbtn"><i class="fa fa-navicon"></i></button>
    <div class="dpn-content">
    <%=current_user.name %>
      <%= link_to 'All my transactions'%>
      <%= link_to 'All my external transactions' %>
      <%= link_to 'All groups'%>
      <%= link_to 'logout' %>
    </div>
    </div>
<div class="text-white marginTG ">Transactions</div>
</nav>
<% end %>
<section class="transactionGroup container">
  <div class="d-flex justify-content-between ">
    <div>Total  amount</div>
    <div>400</div>
  </div>
</section>

 <div class="bg-success py-3 tGButton text-center">
        <%= link_to 'new transaction' , class:'btn btn-transact text-white  border w-50 py-3 ' %>
</div>
