<% content_for :NewTransaction do %>
<nav class="NavBackGround d-flex py-1 align-items-center">
  <div class="dpn">
    <button class="dpbtn"><i class="fa fa-navicon"></i></button>
    <div class="dpn-content">
    <%=current_user.name %>
      <%= link_to 'All my transactions'%>
      <%= link_to 'All my external transactions' %>
      <%= link_to 'All groups'%>
      <%= link_to 'logout' %>
    </div>
    </div>
<div class="text-white marginTG ">New Transaction</div>
</nav>
<% end %>

<div class=" w-50 mx-auto mt-5">
  <%= form_with model: @transaction,class: 'form-horizontal text-center' do |f| %>
  
   <div class="form-group mt-2 mb-3">
    <%= f.text_field :name,class:'form-control ',placeholder: "name" %>
   </div>
    <div class="field form-group mt-2 mb-3">
      <%= f.number_field :amount,class: 'form-control ' ,placeholder: "Amount" %>
    </div>

    <div class="field form-group mt-2 mb-3">
     <%= collection_select(:transaction, :group, Group.all, :id, :name, { :prompt=> 'Group' }, class:
    "form-control my-3  " )%>
    </div>
  
    <%= f.submit class: "btn btn-primary " %>
  
  
  <% end %>
  </div>

