<% content_for :TransactionDetails do %>
<nav class="NavBackGround d-flex py-1 align-items-center">
  
  <% if session[:new_transaction_page]  %>
   <div> <%= link_to 'back', session[:new_transaction_page],class:"text-decoration-none" %></div>
  <% end %>
  
  

<div class="text-white marginLogin ">Details</div></nav>
<% end %>
<section class="container d-flex flex-column justify-content-around align-items-center align-content-center mt-5">

    <div class="d-flex align-content-center align-items-center">
      <div class="<%="#{tesmethod}"%>"><i class=" display-1 default-transaction <%="#{default_transaction } "%> "></i></div>
      <%= image_tag(@transaction.group.avatar,class:"w-25 rounded ") %>
      <div class="tsd"><%=@transaction.name%></div>
    </div>
    <div>
      <%=  @transaction.description %>
  </div>
  
</section>
<div class="fivefb py-3 tGButton text-center">
  <%= link_to 'new transaction', new_transaction_path , class:'btn btn-transact text-white  border w-50 py-3 ' %>
</div>
