<% content_for :TransactionDetails do %>
<nav class="NavBackGround d-flex py-1 align-items-center">
  
  <% if session[:http_referer]  %>
  <%= link_to session[:http_referer] do %>
  <i class="fa fa-arrow-left text-white display-6"></i>
   
<% end %>
   
   <% end %>
   
  

<div class="text-white marginLogin ">Details</div></nav>
<% end %>
<section class="container d-flex  justify-content-around align-items-center align-content-center mt-5">

  <div class="card" style="width: 18rem;">
    <div class="<%="#{tesmethod}"%>"><i class=" display-1 default-transaction <%="#{default_transaction } "%> "></i>
    </div>
      <%= image_tag(@transaction.group.avatar,class:" rounded ") %>
    <div class="card-body">
      <div ><span >transaction name:</span>
        <span ><%=@transaction.name%></span>
      </div>
      <div>
        <span class="mr-2">transaction description:</span> <%=  @transaction.description %>
    </div>
    <div class="mr-3">
      <span class="mr-2">Date created :<%=@transaction.created_at.strftime('%d %b %Y at %l:%M%P')%></span>
    </div>
    </div>
  </div>
   
</section>
<div class="fivefb py-3 tGButton text-center">
  <%= link_to 'new transaction', new_transaction_path , class:'btn btn-transact text-white  border w-50 py-3 ' %>
</div>
